.checkboxWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1rem;
  color: #fff;
  font-size: 1.25rem;
}

.checkbox {
  margin-left: 1rem;
  height: 1.5rem;
  width: 1.5rem;
}
