.textToFontWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.submitWrapper {
  display: inline-block;
}

.textInputWrapper {
  display: inline-block;
  vertical-align: middle;

  max-width: 50vw;
}

.liveInputWrapper {
  display: block;
}
