.textToFontWrapper {
  white-space: nowrap;
}

.submitWrapper {
  display: inline-block;
}

.textInputWrapper {
  display: inline-block;
  vertical-align: middle;
}

.liveInputWrapper {
  display: block;
}
