.dot {
  display: inline-block;
  width: var(--cell-size);
  height: var(--cell-size);
  border: 1px solid gray;
  white-space: nowrap;
  background-color: black;
}

.active {
  background-color: yellow;
}
