.frame {
  border: 1rem solid black;
  padding: 0.5rem;
  background-color: #3f3f3f;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  white-space: nowrap;
  height: var(--cell-size);
  margin-bottom: 1px;
}
