.controls {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 1rem 0;
}

/* each control */
.controls > div {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
